@model PresentationLayer.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="~/css/404.css">
</head>

<body>
    <div class="container">
        <div class="error">
            <h1>404</h1>
            <p>Page Not Found</p>
        </div>
        <div class="animation">
            <div class="cube">
                <div class="face front"></div>
                <div class="face back"></div>
                <div class="face left"></div>
                <div class="face right"></div>
                <div class="face top"></div>
                <div class="face bottom"></div>
            </div>
        </div>
    </div>
</body>

</html>